{% extends 'main.html' %}

{% block title %} <title>Доставка "GALLERY DEPT."</title>{% endblock %}
{% block description %}<meta name="description" content='Оплата и доставка "GALLERY DEPT."' />{% endblock %}
{% block keywords %}<meta name="keywords" content="доставка, оплата" />{% endblock %}
{% block content %}
<div id="article">
    <h2>Оплата и доставка</h2>
    <p>У нас есть 2 варианта доставки: доставка транспортной компанией на выбор покупателя и самовывоз.</p>
    <p>Возможны и другие варианты оплаты и доставки, о которых можно договориться по телефону с менеджером после оформление заказа.</p>
    <p>!!!А вообще это дипломный проект!!!</p>
    <p>В связи с этим, данный сайт ничего в реальности не продаёт. Поэтому, заказав что-либо, не стоит ждать, что Вы что-то получите.</p>
</div>
{% endblock %}